@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    /* background: bg-info; */
}

.nav-link {
    color: cadetblue;
}

.navbar-nav .nav-link.active {
    color: aquamarine;
}

.navbar-brand {
    padding: 0;
}

.card a {
    text-decoration: none;
    color: black;
}

.slyd-text {
    margin: auto auto;
}

.footer-text {  
    margin: auto auto;   
}

.call-anim {
    animation: myAnim 2s ease 6s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}